<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <title>Mon CV </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <script defer src="{% static 'create_cv/js/jquery-3.2.1.min.js' %}"></script>
    <script defer src="{% static 'create_cv/js/all.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    {% include 'apercu_cv/modele1/head.html' %}
    <style>
        .profile-list{
            min-width: 100%;
            margin:0px;
        }
        .profile-list2{
            min-width: 100%;
            margin:0px;
            padding: 0px;
            position:fixed;
        }
        .profile-list > li {

            margin:0px;
            padding : 2px;
            display: inline-block;
            list-style-type: none;
            max-height: 350px;

            /*width: 49.6%;*/
        }
        .profile-list2 > li {

            margin:0px;
            display: inline-block;
            list-style-type: none;
            height: auto;

            /*width: 49.6%;*/
        }
        body {
            break-after: auto;

        }
    </style>

</head>

<body style="width:100%; margin: 0px; padding: 0px;">

    <article class="resume-wrapper text-center position-relative" style="width:100%; margin: 0px;">
        <div class="resume-wrapper-inner mx-auto text-left bg-white ">
            <header class="resume-header pt-4 pt-md-0" style="max-height: 350px;">
                {% include 'apercu_cv/modele1/infoperso.html' %}
            </header>

            <div class="resume-body p-4">

                {% include 'apercu_cv/modele1/resume.html' %}
                <!--
                                <div class="row">


                                    <div class="col-lg-6 col-md-6">

                                    </div>
                                    <div class="col-lg-6 col-md-6">



                                    </div>




                                </div>
                -->
                <ul class="profile-list2">
                    <li style="width: 60%">

                        {% include 'apercu_cv/modele1/diplomes2.html' %}
                        {% include 'apercu_cv/modele1/experiences.html' %}


                    </li>
                    <li style="width: 35%; margin-top: 0px; padding-top:0px; position:fixed;">


                        {% include 'apercu_cv/modele1/competences.html' %}


                        <!--<section class="resume-section reference-section mb-2">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Prix</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-awards-list">
                                <li class="mb-2 pl-4 position-relative">
                                    <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                    <div class="resume-award-name">Nom du prix</div>
                                    <div class="resume-award-desc">description.</div>
                                </li>
                                <!--
                                                <li class="mb-0 pl-4 position-relative">
                                                    <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                                    <div class="resume-award-name">Award Name Ipsum</div>
                                                    <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque.</div>
                                                </li>

                                </ul>
                            </div>
                                </section>//interests-section-->
                        {% include 'apercu_cv/modele1/langues.html' %}
                        {% include 'apercu_cv/modele1/loisirs.html' %}
                        {% include 'apercu_cv/modele1/reference.html' %}


                    </li>
                </ul><!--//row-->

            </div><!--//resume-body-->


        </div>
    </article>

    <script>
       /* $(document).ready(function(){
            $("#print").click(function(){

                $(".hidden-print").hide();
                setTimeout(window.print(),6000)
                setTimeout($(".hidden-print").show(),2000)

            });
         });*/


    </script>
</body>
</html>

