

    <article class="resume-wrapper text-center position-relative" style="width:100%; margin-top:20px;">
        <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
            <header class="resume-header pt-4 pt-md-0">
                {% include 'apercu_cv/modele1/infoperso1.html' %}
            </header>

            <div class="resume-body p-4">

                {% include 'apercu_cv/modele1/resume.html' %}
                <!--
                                <div class="row">


                                    <div class="col-lg-6 col-md-6">

                                    </div>
                                    <div class="col-lg-6 col-md-6">



                                    </div>




                                </div>
                -->
                <div class="row">
                    <div class="col-lg-9 col-md-8">

                        {% include 'apercu_cv/modele1/experiences.html' %}

                    </div>
                    <div class="col-lg-3 col-md-4">

                        {% include 'apercu_cv/modele1/diplomes.html' %}
                        {% include 'apercu_cv/modele1/competences.html' %}


                        <!--<section class="resume-section reference-section mb-2">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Prix</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-awards-list">
                                <li class="mb-2 pl-4 position-relative">
                                    <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                    <div class="resume-award-name">Nom du prix</div>
                                    <div class="resume-award-desc">description.</div>
                                </li>
                                <!--
                                                <li class="mb-0 pl-4 position-relative">
                                                    <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                                    <div class="resume-award-name">Award Name Ipsum</div>
                                                    <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque.</div>
                                                </li>

                                </ul>
                            </div>
                                </section>//interests-section-->
                        {% include 'apercu_cv/modele1/langues.html' %}
                        {% include 'apercu_cv/modele1/loisirs.html' %}


                    </div>
                </div><!--//row-->

            </div><!--//resume-body-->


        </div>
    </article>




