<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"> Education </h2>
    <div class="resume-section-content">
        <ul class="list-unstyled">
                <li class="mb-2">

                </li>
        <div class="resume-timeline position-relative">
                <article class="resume-timeline-item position-relative pb-5">

                <li>
                    <div class="resume-timeline-item-desc"><div class="resume-timeline-item-desc"><div class="resume-degree font-weight-bold">Deuxième année école des travaux et des Télécom </div></div>
                    <div class="resume-degree-org">Ecole Nationale des Postes, des Télécommunications et des TIC</div>
                    <div class="resume-degree-time">2020</div>

                </li>
                </div>
                {% for d in diplomas %}
                <div class="resume-timeline position-relative">
                <article class="resume-timeline-item position-relative pb-5">

                <li>
                    <div class="resume-timeline-item-desc"><div class="resume-timeline-item-desc"><div class="resume-degree font-weight-bold">{{d.m_diploma}} {{d.m_intitule}}</div></div>
                    <div class="resume-degree-org">{{d.m_school}}</div>
                    <div class="resume-degree-time">{{d.m_year}}</div>

                </li>
                </div><!--//resume-timeline-->

                 {% endfor %}
                {% comment %}<li>
                    <div class="resume-timeline-item-desc"><div class="resume-timeline-item-desc"><div class="resume-degree font-weight-bold">Certification ICSI/CNSS ( International Cyber Securty Institute)  </div></div>
                </li>
                <li>
                    <div class="resume-timeline-item-desc"><div class="resume-timeline-item-desc"><div class="resume-degree font-weight-bold">Participation aux conférences organosé par SUPTIC</div></div>
                </li>
                <li>
                    <div class="resume-timeline-item-desc"><div class="resume-timeline-item-desc"><div class="resume-degree font-weight-bold">Participation au seminaire rganisé par le MINPOSTEL sur la cyber criminalité en 2019</div></div>
                </li>{% endcomment %}
            </ul>










    </div>
</section><!--//experience-section-->