<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"> Experience(s) Professionnelle(s)</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative">

            {% for e in experiences %}
            <article class="resume-timeline-item position-relative pb-5">

                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">{{ e.m_poste }}</h3>
                        <div class="resume-company-name ml-auto">{{ e.m_etablissement }}</div>
                    </div><!--//row-->
                    <div class="resume-position-time">{{ e.m_start }}  -  {{ e.m_end }}</div>
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    <!--<p>description Poste.</p>-->
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Taches effectuees:</h4>
                    <ul>
                        {% for f in e.tasks_enumerate %}
                        <li>{{f}} </li>
                        {% endfor %}
                    </ul>
                    <!--<h4 class="resume-timeline-item-desc-heading font-weight-bold">Outils ou technologies utilisees:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Python</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">jQuery</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML SASS</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgresSQL</span></li>
                    </ul>-->
                </div><!--//resume-timeline-item-desc-->

            </article><!--//resume-timeline-item-->

            {% endfor %}



        </div><!--//resume-timeline-->






    </div>
</section><!--//experience-section-->