 <!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

<!-- FontAwesome JS-->
<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
{% load static %}
<!-- Theme CSS -->
<link rel="stylesheet" href="assets/css/pillar-4.css">
<link id="theme-style" rel="stylesheet" href="{% static 'apercu_cv/assets/css/pillar-4.css' %}">