{% load static %}
<div class="media flex-column flex-md-row row"  style="  min-width: 100%;">


        <!--<div class="" style="border: 1px solid green; display: block;  min-width: 100%;">-->
    <ul class="profile-list">
        <li style="width: 30%">
            <div  style="">

                    <img class="" src="file://{{photo}}" style=" height:220px; width:200px;" alt="photo">
            </div>
        </li>
        <li  style="width: 69%">
            <div class=""  style=" /* margin-left: 190px; */  " >

                <div class="primary-info">
                    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{infoperso.m_prenom}}  {{infoperso.m_nom}}  ({{infoperso.m_age}} ans)</h1>

                    <div class="title mb-3">{{infoperso.m_profession}} </div>

                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{infoperso.m_email}}</a></li>
                        <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>{{infoperso.m_telephone}}</a></li>
                    </ul>
                </div><!--//primary-info-->
                <div class="secondary-info ml-md-auto mt-2">
                    <!--<ul class="resume-social list-unstyled">
                        <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/stevedoe</a></li>
                        <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/username</a></li>
                        <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/username/</a></li>
                        <li><a href="#"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>yourwebsite.com</a></li>
                    </ul>-->
                </div><!--//secondary-info-->
            </div>
        </li>

    </ul>



        <!--</div>&lt;!&ndash;//media-body&ndash;&gt;-->

</div><!--//media-->
