<!DOCTYPE html>
<html lang="fr">

<head>
    <title>BeeFirst</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'create_cv/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'create_cv/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{% static 'create_cv/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'create_cv/js/jquery-3.2.1.min.js' %}"></script>
    <!--    fontawesome 5-->
    <link rel="stylesheet" href="{% static 'create_cv/css/all.css' %}">
    
    <script defer src="{% static 'create_cv/js/all.js' %}"></script>
    <style>
        nav a {
            color: #69ff00;
        }
    </style>
</head>

<body>

    <div class="container-fluid" style="margin-bottom:2%; margin-top: 2%;">

        <h3 class="text-center"><span style="color: #69ff00;">BeeFirst</span> Un job en quelques clics</h3>

    </div>

    <nav class="navbar navbar-expand-lg navbar-dark  sticky-top" style="background: #719fff; margin-bottom:2% ">
        <a class="navbar-brand" href="#">BeeFirst</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'home' %}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Déposer votre CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home' %}">Espace recruteur</a>
                </li>

            </ul>

            <a href="#" class="a"><i class="fas fa-sign-in-alt"></i> Connexion / Inscription</a>
        </div>
    </nav>

    <section id="content">
        {% block content %}
        
        {% endblock %}
    </section>
    <footer>
        Copyright @ 2020 design by YOZATI
    </footer>
</body>

</html>