<!DOCTYPE html>
<html lang="fr">

<head>
    <title>BeeFirst</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'create_cv/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'create_cv/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{% static 'create_cv/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'create_cv/js/jquery-3.2.1.min.js' %}"></script>
    <!--    fontawesome 5-->
    <link rel="stylesheet" href="{% static 'create_cv/css/all.css' %}">
    
    <script defer src="{% static 'create_cv/js/all.js' %}"></script>
    <style>
        nav a {
            color: #69ff00;
        }
    </style>
</head>

<body>

    <div class="container-fluid" style="margin-bottom:2%; margin-top: 2%;">

        <h3 class="text-center"><span style="color: #69ff00;">BeeFirst</span> Un job en quelques clics</h3>

    </div>

    {% include 'create_cv/nav.html' %}

    <section id="content">
        {% block content %}
        
        {% endblock %}
    </section>
    <footer>
        Copyright @ 2020 design by YOZATI
    </footer>
</body>

</html>