<div class="col-lg-3 col-md-3 d-md-block">
    <ul class="liste">
        <li>
            <a href="{% url 'infoperso' %}"> <span class="{% if nbar == 'infoperso' %}t-blue{% endif %}"> {% if nbar == 'infoperso' %} --- {% endif %} Informations personnelles </span> </a>
        </li>
        <li>
            <a href="{% url 'diplome' %}"> <span class="{% if nbar == 'diplome' %}t-blue{% endif %}"> {% if nbar == 'diplome' %} --- {% endif %}Diplômes </span> </a>
        </li>

        <li>
            <a href="{% url 'experience' %}"><span class="{% if nbar == 'experience' %}t-blue{% endif %}">{% if nbar == 'experience' %} --- {% endif %} Expériences professionnelles
                </span></a>
        </li>
        <li>
            <a href="{% url 'competence' %}"><span class="{% if nbar == 'competence' %}t-blue{% endif %}">{% if nbar == 'competence' %} --- {% endif %} Compétences </span></a>
        </li>
        
        <li>
            <a href="{% url 'reference' %}"><span class="{% if nbar == 'reference' %}t-blue{% endif %}">{% if nbar == 'reference' %} --- {% endif %} Références </span></a>
        </li>
        <li>
            <a href="{% url 'loisir' %}"><span class="{% if nbar == 'loisir' %}t-blue{% endif %}">{% if nbar == 'loisir' %} --- {% endif %} Loisirs </span></a>
        </li>
        <li>
            <a href="{% url 'langue' %}"><span class="{% if nbar == 'langue' %}t-blue{% endif %}">{% if nbar == 'langue' %} --- {% endif %} Langues </span></a>
        </li>
        <li>
            <a href="{% url 'biographie' %}"><span class="{% if nbar == 'biographie' %}t-blue{% endif %}">{% if nbar == 'biographie' %} --- {% endif %} Biographie
                </span></a>
        </li>
    </ul>
</div>
